<header class="header-section">
  <!--<div class="header-top">
      <div class="container">
          <div class="ht-left">
              <div class="mail-service">
                  <i class=" fa fa-envelope"></i>
                  hiphopstreetwear@gmail.com
              </div>
              <div class="phone-service">
                  <i class=" fa fa-phone"></i>
                  +00 00.000.000
              </div>
          </div>
          <div class="ht-right">
              <a href="#" class="login-panel"><i class="fa fa-user"></i>Login</a>
              <div class="lan-selector">
                  <select class="language_drop" name="countries" id="countries" style="width:300px">
                      <option value='yt' data-image="assets/img/flag-1.jpg" data-imagecss="flag yt"
                          data-title="English">English</option>
                      <option value='yu' data-image="assets/img/flag-2.jpg" data-imagecss="flag yu"
                          data-title="Bangladesh">German </option>
                  </select>
              </div>
              <div class="top-social">
                  <a href="#"><i class="ti-facebook"></i></a>
                  <a href="#"><i class="ti-instagram"></i></a>
              </div>
          </div>
      </div>
  </div>
  -->
  <div class="container">
      <div class="inner-header">
          <div class="row">
              <div class="col-lg-2 col-md-2">
                  <div class="logo">
                    <img src="./assets/img/streetshop.png" alt="streetshop">
                  </div>
              </div>
              <div class="col-lg-7 col-md-7">
                  <div class="advanced-search">
                      <!--
                      <button type="button" class="category-btn">All Categories</button>
                      -->
                      <div class="input-group">
                          <input type="text" placeholder="O que está procurando ?" />
                          <button type="button"><i class="ti-search"></i></button>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 text-right col-md-3">
                  <ul class="nav-right">
                      <li class="heart-icon">
                          <a href="#">
                              <i class="icon_heart_alt"></i>
                              <span>1</span>
                          </a>
                      </li>
                      <li class="cart-icon">
                          <a href="#">
                              <i class="icon_bag_alt"></i>
                              <span>3</span>
                          </a>
                          <div class="cart-hover">
                              <div class="select-items">
                                  <!--
                                  <table>
                                      <tbody>
                                          <tr>
                                              <td class="si-pic"><img src="assets/img/select-product-1.jpg" alt="" /></td>
                                              <td class="si-text">
                                                  <div class="product-selected">
                                                      <p>$60.00 x 1</p>
                                                      <h6>Kabino Bedside Table</h6>
                                                  </div>
                                              </td>
                                              <td class="si-close">
                                                  <i class="ti-close"></i>
                                              </td>
                                          </tr>
                                          <tr>
                                              <td class="si-pic"><img src="assets/img/select-product-2.jpg" alt="" /></td>
                                              <td class="si-text">
                                                  <div class="product-selected">
                                                      <p>$60.00 x 1</p>
                                                      <h6>Kabino Bedside Table</h6>
                                                  </div>
                                              </td>
                                              <td class="si-close">
                                                  <i class="ti-close"></i>
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                                  -->
                              </div>
                              <div class="select-total">
                                  <span>total:</span>
                                  <h5>$0.00</h5>
                              </div>
                              <div class="select-button">
                                  <a href="#" class="primary-btn view-card">Ver Carrinho</a>
                                  <a href="#" class="primary-btn checkout-btn">CHECK OUT</a>
                              </div>
                          </div>
                      </li>
                      <li class="cart-price">$0.00</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="nav-item">
      <div class="container">
          <div class="nav-depart">
              <div class="depart-btn">
                  <i class="ti-menu"></i>
                  <span>Departamentos</span>
                  <ul class="depart-hover">
                      <li class="active"><a href="#">Women’s Clothing</a></li>
                      <li><a href="#">Men’s Clothing</a></li>
                      <li><a href="#">Kid's Clothing</a></li>
                      <li><a href="#">Acessórios</a></li>
                      
                      
                  </ul>
              </div>
          </div>
          <nav class="nav-menu mobile-menu">
              <ul>
                  <li class="active"><a href="#">Início</a></li>
                  <li><a href="#">Quem Somos</a></li>
                  <li><a href="#">Coleções</a>
                      <ul class="dropdown">
                          <li><a href="#">Men's</a></li>
                          <li><a href="#">Women's</a></li>
                          <li><a href="#">Kid's</a></li>
                      </ul>
                  </li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Contato</a></li>
                  <!--
                  <li><a href="#">Páginas</a>
                      <ul class="dropdown">
                          <li><a href="#">Blog Details</a></li>
                          <li><a href="#">Shopping Cart</a></li>
                          <li><a href="#">Checkout</a></li>
                          <li><a href="#">Faq</a></li>
                          <li><a href="#">Register</a></li>
                          <li><a href="#">Login</a></li>
                      </ul>
                  </li>
                  -->
              </ul>
          </nav>
          <div id="mobile-menu-wrap"></div>
      </div>
  </div>
</header>

<section class="hero-section">
  <div class="hero-items owl-carousel">
      <div class="single-hero-items set-bg" data-setbg="assets/img/hero-3.jpg">
          <div class="container">
              <div class="row">
                  <div class="col-lg-5">
                      <span>Camisa/Men's</span>
                      <h1>Black friday</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                          incididunt ut labore et dolore</p>
                      <a href="#" class="primary-btn">Compre agora!</a>
                  </div>
              </div>
              <div class="off-card">
                  <h2>oferta <span>50%</span></h2>
              </div>
          </div>
      </div>
      <div class="single-hero-items set-bg" data-setbg="assets/img/hero-4.jpg">
          <div class="container">
              <div class="row">
                  <div class="col-lg-5">
                      <span>Bucket,Men's/Woman's</span>
                      <h1>Black friday</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                          incididunt ut labore et dolore</p>
                      <a href="#" class="primary-btn">Compre agora!</a>
                  </div>
              </div>
              <div class="off-card">
                  <h2>Oferta <span>50%</span></h2>
              </div>
          </div>
      </div>
  </div>
</section>

<div class="banner-section spad">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-4">
              <div class="single-banner">
                  <img src="assets/img/banner-1.jpg" alt="" />
                  <div class="inner-text">
                      <h4>Men’s</h4>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="single-banner">
                  <img src="assets/img/banner-2.jpg" alt="" />
                  <div class="inner-text">
                      <h4>Women’s</h4>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="single-banner">
                  <img src="assets/img/banner-3.jpg" alt="" />
                  <div class="inner-text">
                      <h4>Kid’s</h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<section class="women-banner spad">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3">
              <div class="product-large set-bg" data-setbg="./assets/img/fe-1.jpg">
                  <h2>Estilo Feminino</h2>
                  <a href="#">Descubra Mais</a>
              </div>
          </div>
          <div class="col-lg-8 offset-lg-1">
              <div class="filter-control">
                  <ul>
                      <li class="active">Roupas</li>
                      <li>Sapatos</li>
                      <li>Acessórios</li>
                  </ul>
              </div>
              <div class="product-slider owl-carousel">
                  <div class="product-item">
                      <div class="pi-pic">
                          <img src="assets/img/badu-1.jpg" alt="" />
                          <div class="sale">Oferta</div>
                          <div class="icon">
                              <i class="icon_heart_alt"></i>
                          </div>
                          <ul>
                              <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                              <li class="quick-view"><a href="#">+ Detalhes</a></li>
                              <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                          </ul>
                      </div>
                      <div class="pi-text">
                          <div class="catagory-name">Camisa</div>
                          <a href="#">
                              <h5>Line Art - Kbadubrechó</h5>
                          </a>
                          <div class="product-price">
                              R$40,00
                              <span>$55.00</span>
                          </div>
                      </div>
                  </div>
                  <div class="product-item">
                      <div class="pi-pic">
                          <img src="assets/img/badu-4.jpg" alt="" />
                          <div class="icon">
                              <i class="icon_heart_alt"></i>
                          </div>
                          <ul>
                              <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                              <li class="quick-view"><a href="#">+ Detalhes</a></li>
                              <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                          </ul>
                      </div>
                      <div class="pi-text">
                          <div class="catagory-name">Acessório</div>
                          <a href="#">
                              <h5>Sandália Azul Pastel - Kbadubrechó</h5>
                          </a>
                          <div class="product-price">
                              R$50,00
                          </div>
                      </div>
                  </div>
                  <div class="product-item">
                      <div class="pi-pic">
                          <img src="assets/img/badu-3.jpg" alt="" />
                          <div class="icon">
                              <i class="icon_heart_alt"></i>
                          </div>
                          <ul>
                              <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                              <li class="quick-view"><a href="#">+ Detalhes</a></li>
                              <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                          </ul>
                      </div>
                      <div class="pi-text">
                          <div class="catagory-name">Camisa</div>
                          <a href="#">
                              <h5>Vintage - Kbadubrechó</h5>
                          </a>
                          <div class="product-price">
                              R$25,00
                          </div>
                      </div>
                  </div>
                  <div class="product-item">
                      <div class="pi-pic">
                          <img src="assets/img/mori-1.jpg" alt="" />
                          <div class="icon">
                              <i class="icon_heart_alt"></i>
                          </div>
                          <ul>
                              <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                              <li class="quick-view"><a href="#">+ Detalhes</a></li>
                              <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                          </ul>
                      </div>
                      <div class="pi-text">
                          <div class="catagory-name">Bolsa</div>
                          <a href="#">
                              <h5>Morinaga</h5>
                          </a>
                          <div class="product-price">
                              $35.00
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="deal-of-week set-bg spad" data-setbg="assets/img/suave-2.jpg">
  <div class="container">
      <div class="col-lg-6 text-center">
          <div class="section-title">
              <h2>Oferta da Semana</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed<br /> do ipsum dolor sit amet,
                  consectetur adipisicing elit </p>
              <div class="product-price">
                  $35.00
                  <span>/ Fivepanel</span>
              </div>
          </div>
          <div class="countdown-timer" id="countdown">
              <div class="cd-item">
                  <span>56</span>
                  <p>Dias</p>
              </div>
              <div class="cd-item">
                  <span>12</span>
                  <p>Hrs</p>
              </div>
              <div class="cd-item">
                  <span>40</span>
                  <p>Mins</p>
              </div>
              <div class="cd-item">
                  <span>52</span>
                  <p>Segs</p>
              </div>
          </div>
          <a href="#" class="primary-btn">Compre agora!</a>
      </div>
  </div>
</section>

<section class="man-banner spad">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-8">
              <div class="filter-control">
                  <ul>
                      <li class="active">Roupas</li>
                      <li>Sapatos</li>
                      <li>Acessórios</li>
                  </ul>
              </div>
              <div class="product-slider owl-carousel">
                  <div class="product-item">
                      <div class="pi-pic">
                          <img src="assets/img/man-1.jpg" alt="" />
                          <div class="sale">Oferta</div>
                          <div class="icon">
                              <i class="icon_heart_alt"></i>
                          </div>
                          <ul>
                              <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                              <li class="quick-view"><a href="#">+ Detalhes</a></li>
                              <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                          </ul>
                      </div>
                      <div class="pi-text">
                          <div class="catagory-name">Fivepanel</div>
                          <a href="#">
                              <h5>Orange and Black</h5>
                          </a>
                          <div class="product-price">
                              $45.00
                              <span>$60.00</span>
                          </div>
                      </div>
                  </div>
                  <div class="product-item">
                      <div class="pi-pic">
                          <img src="assets/img/man-2.jpg" alt="" />
                          <div class="icon">
                              <i class="icon_heart_alt"></i>
                          </div>
                          <ul>
                              <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                              <li class="quick-view"><a href="#">+ Detalhes</a></li>
                              <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                          </ul>
                      </div>
                      <div class="pi-text">
                          <div class="catagory-name">Camisa</div>
                          <a href="#">
                              <h5>Vinil - PRMTS</h5>
                          </a>
                          <div class="product-price">
                              $25.00
                          </div>
                      </div>
                  </div>
                  <div class="product-item">
                      <div class="pi-pic">
                          <img src="assets/img/man-3.jpg" alt="" />
                          <div class="icon">
                              <i class="icon_heart_alt"></i>
                          </div>
                          <ul>
                              <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                              <li class="quick-view"><a href="#">+ Detalhes</a></li>
                              <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                          </ul>
                      </div>
                      <div class="pi-text">
                          <div class="catagory-name"> Bucket Hat</div>
                          <a href="#">
                              <h5>Suede Beige</h5>
                          </a>
                          <div class="product-price">
                              $75.00
                          </div>
                      </div>
                  </div>
                  <div class="product-item">
                      <div class="pi-pic">
                          <img src="assets/img/man-4.jpg" alt="" />
                          <div class="icon">
                              <i class="icon_heart_alt"></i>
                          </div>
                          <ul>
                              <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                              <li class="quick-view"><a href="#">+ Detalhes</a></li>
                              <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                          </ul>
                      </div>
                      <div class="pi-text">
                          <div class="catagory-name">Camisa</div>
                          <a href="#">
                              <h5>Morinaga Shirt</h5>
                          </a>
                          <div class="product-price">
                              $45.00
                              <span>$60.00</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 offset-lg-1">
              <div class="product-large set-bg m-large" data-setbg="assets/img/man-large.jpg">
                  <h2>Moda Masculina</h2>
                  <a href="#">Descubra Mais</a>
              </div>
          </div>
      </div>
  </div>
</section>

<div class="instagram-photo">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title">
                <h2>"Seja seu próprio estilo"</h2>
            </div>
        </div>
    </div>
    <!--
  <div class="insta-item set-bg" data-setbg="assets/img/insta-1.jpg">
      <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5><a href="#">jassa_Collection</a></h5>
      </div>
  </div>
  <div class="insta-item set-bg" data-setbg="assets/img/insta-2.jpg">
      <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5><a href="#">jassa_Collection</a></h5>
      </div>
  </div>
  <div class="insta-item set-bg" data-setbg="assets/img/insta-3.jpg">
      <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5><a href="#">jassa_Collection</a></h5>
      </div>
  </div>
  <div class="insta-item set-bg" data-setbg="assets/img/insta-1.jpg">
      <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5><a href="#">jassa_Collection</a></h5>
      </div>
  </div>
  <div class="insta-item set-bg" data-setbg="assets/img/insta-2.jpg">
      <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5><a href="#">jassa_Collection</a></h5>
      </div>
  </div>
  <div class="insta-item set-bg" data-setbg="assets/img/insta-3.jpg">
      <div class="inside-text">
          <i class="ti-instagram"></i>
          <h5><a href="#">jassa_Collection</a></h5>
      </div>
  </div>
</div>
-->
<section class="latest-blog spad"> 
  <div class="container">
      
      <!-- 
      <div class="row">
          <div class="col-lg-4 col-md-6">
              <div class="single-latest-blog">
                  <img src="assets/img/latest-1.jpg" alt="" />
                  <div class="latest-text">
                      <div class="tag-list">
                          <div class="tag-item">
                              <i class="fa fa-calendar-o"></i>
                              May 4,2021
                          </div>
                          <div class="tag-item">
                              <i class="fa fa-comment-o"></i>
                              5
                          </div>
                      </div>
                      <a href="#">
                          <h4>The Best Street Style From London Fashion Week</h4>
                      </a>
                      <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-latest-blog">
                  <img src="assets/img/latest-2.jpg" alt="" />
                  <div class="latest-text">
                      <div class="tag-list">
                          <div class="tag-item">
                              <i class="fa fa-calendar-o"></i>
                              May 4,2021
                          </div>
                          <div class="tag-item">
                              <i class="fa fa-comment-o"></i>
                              5
                          </div>
                      </div>
                      <a href="#">
                          <h4>Vogue's Ultimate Guide To Autumn/Winter 2021 Shoes</h4>
                      </a>
                      <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="single-latest-blog">
                  <img src="assets/img/latest-3.jpg" alt="" />
                  <div class="latest-text">
                      <div class="tag-list">
                          <div class="tag-item">
                              <i class="fa fa-calendar-o"></i>
                              May 4,2021
                          </div>
                          <div class="tag-item">
                              <i class="fa fa-comment-o"></i>
                              5
                          </div>
                      </div>
                      <a href="#">
                          <h4>How To Brighten Your Wardrobe With A Dash Of Lime</h4>
                      </a>
                      <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                  </div>
              </div>
          </div>
      </div>
      -->
      <div class="benefit-items">
          <div class="row">
              <div class="col-lg-4">
                  <div class="single-benefit">
                      <div class="sb-icon">
                          <img src="assets/img/icon-1.png" alt="" />
                      </div>
                      <div class="sb-text">
                          <h6>Envio Grátis</h6>
                          <p>Para todos os pedidos acima de R$:100,00</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="single-benefit">
                      <div class="sb-icon">
                          <img src="assets/img/icon-2.png" alt="" />
                      </div>
                      <div class="sb-text">
                          <h6>Entrega no Prazo</h6>
                          <p>Sem nenhum problema</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="single-benefit">
                      <div class="sb-icon">
                          <img src="assets/img/icon-1.png" alt="" />
                      </div>
                      <div class="sb-text">
                          <h6>Pagamento Rápido</h6>
                          <p>100% Seguro</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<div class="partner-logo">
  <div class="container">
      <div class="logo-carousel owl-carousel">
          <div class="logo-item">
              <div class="tablecell-inner">
                  <img src="assets/img/logo-1.png" alt="" />
              </div>
          </div>
          <div class="logo-item">
              <div class="tablecell-inner">
                  <img src="assets/img/logo-2.png" alt="" />
              </div>
          </div>
          <div class="logo-item">
              <div class="tablecell-inner">
                  <img src="assets/img/logo-3.png" alt="" />
              </div>
          </div>
          <div class="logo-item">
              <div class="tablecell-inner">
                  <img src="assets/img/logo-4.png" alt="" />
              </div>
          </div>
          <div class="logo-item">
              <div class="tablecell-inner">
                  <img src="assets/img/chill.png" alt="" />
              </div>
          </div>
      </div>
  </div>
</div>

<footer class="footer-section">
  <div class="container">
      <div class="row">
          <div class="col-lg-3">
              <div class="footer-left">
                  <div class="footer-logo">
                    <img src="./assets/img/streetshop_2.png" alt="streetshop">
                  </div>
                  <ul>
                      <li>Address: 11-11 Road 11 22 22</li>
                      <li>Phone: +00 00.000.000</li>
                      <li>Email: therichposts@gmail.com</li>
                  </ul>
                  <div class="footer-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 offset-lg-1">
              <div class="footer-widget">
                  <h5>Informações</h5>
                  <ul>
                      <li><a href="#">Quem Somos</a></li>
                      <li><a href="#">Checkout</a></li>
                      <li><a href="#">Contato</a></li>
                  </ul>
              </div>
          </div>
          <!--
          <div class="col-lg-2">
              <div class="footer-widget">
                  <h5>My Account</h5>
                  <ul>
                      <li><a href="#">My Account</a></li>
                      <li><a href="#">Contact</a></li>
                      <li><a href="#">Shopping Cart</a></li>
                      <li><a href="#">Shop</a></li>
                  </ul>
              </div>
          </div>
          -->
          <div class="col-lg-4">
              <div class="newslatter-item">
                  <h5>Junte-se à nossa Loja</h5>
                  <p>Receba atualizações por e-mail sobre nossa loja mais recente e ofertas especiais..</p>
                  <form action="#" class="subscribe-form">
                      <input type="text" placeholder="Entre com seu email" />
                      <button type="button">inscrever-se</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright-reserved">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="copyright-text">
                     
&copy;<script>document.write(new Date().getFullYear());</script> Todos os direitos reservados | modelo feito por <i class="fa fa-heart-o" aria-hidden="true"></i><a href="https://hunterland.github.io/portifolio/" target="_blank"> hunter_prmts</a>

                  </div>
                  <div class="payment-pic">
                      <img src="assets/img/method.png" alt="" />
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>